.cr-search-form {
  position: relative;

  &__icon-search {
    position: absolute;
    left: 8px;
  }

  &__input {
    /* stylelint-disable-next-line */
    padding-left: 35px !important;
  }

  .__search-peers {
    width: 100%
  }
}

.search-spinner {
  width: 3rem; 
  height: 3rem;
}
